{% extends "::default/index.html.twig" %}
{% block title %}Mon Carnet Maison{% endblock %}
    {% block body %}    
        <h1>Bonjour, bienvenue sur le carnet maison</h1>
        <a href="front/add"><h2>Inscrivez-vous !</h2></a>
        <p>
            Formulaire
        </p>
    {% endblock %}