{% extends "::default/index.html.twig" %}
{% block title %}Mon Carnet Maison{% endblock %}
    {% block body %}    
        <h1>Bonjour numéro {{ id }}, bienvenue sur le carnet maison</h1>
        
        <p>
           nom : Looper
        </p>
        <p>
           prénom : Dave
        </p>
        <p>
           date de naissance : 30/05/2010
        </p>
    {% endblock %}